body {
  background: $dark-gray;
  color: $white;
  font: {
    family: 'Lato', sans-serif;
    weight: 300;
  }
}

h1 {
  font: 72px 'Oswald', Arial, sans-serif;
  margin: 50px 0;
  text-align: center;
}

input {
  background: transparent;
  border: none {
    bottom: $white-border;
  }
  font-size: 24px;
  height: 50px;
  padding-bottom: 15px;
  &:focus {
    outline: 0;
  }
  @media (min-width: 900px) {
    font-size: 32px;
  }
}
