.completed {
  text-decoration: line-through;
}

.input-buttons {
  height: 50px;
  border-bottom: $white-border;
  padding: 0;
  i {
    padding: 0 12px;
    color: $white;
    float: right;
  }
  .fa-plus {
    border-right: $white-border;
  }
  @media (min-width: 600px) {
    .fa-trash-o:hover {
      color: $red;
    }
    .fa-plus:hover {
      color: #69f0ae;
    }
  }
}

.todo-list{
  padding: 0;
  margin: 20px 0 50px;
  .todo {
    background: $white;
    border-bottom: 1px dotted $dark-gray;
    color: $dark-gray;
    font-size: 20px;
    list-style: none;
    padding: 20px 130px 20px 15px;
    position: relative;
    white-space: normal;
  }
}
